/* CSS declarations go here */
html{
  font-family: GillSans;
}

a{
  z-index: 100;
}

#wrapper{
  min-height: 100%;
}

.floatright{
  float:right;
}

.floatleft{
  float:left;
}

.clear{
  clear:both;
}

.bold{
  font-weight: bold;
}
